<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/Nueva carpeta (2)/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Red+Hat+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normaliza.css">
    <title>Dreez</title>
    <style>
     
        *{
            font-family: helvetica;
        }
        p{
            margin:0;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        h1 {
            margin:0;
        }
        h2 {
            margin:0;
        }
        h3 {
            margin:0;
        }
        h4 {
            margin:0;
        }
        h5 {
            margin:0;
        }
        h6 {
            margin:0;
        }
        .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .vs-input{
        width:100%;
    }
    @media (max-width:768px) and (min-width: 412px){
    #menu{
        display:none
    }
    #contenido{
        margin:0!important;
    }
    .input{
        margin-left: 19rem!important;
    }
   .barrita{
    display:flex;
    color:#7e7e7e
    }
    .cont{
        max-width: 1700px!important;
        margin-left: -1remx!important;
        margin-right: 0rem!important;
    }
    .linea{
        font-size: 50px;
        margin-right: -1rem;
        margin-left: 1rem;
    }
    .titu{
        margin-left:1rem!important;
    }
    .tarjet{
        margin-right: 0.5rem!important;
    }
    .menusito{
        display:none!important;
    }
}
@media (max-width:411px){
    #menu{
        display:none
    }
    #contenido{
        margin:0!important;
    }
    .oferta{
        display:none
    }
   .drezz{
    display:none
   }
   .barrita{
    display:flex;
    color:#7e7e7e
    }

    .input{
        margin-left: 0rem!important;
        width:33.%!important;
    
    }
    .cont{
        max-width: 1700px!important;
        margin-left: -1rem!important;
        margin-right: 0rem!important;

    }
    .linea{
        font-size: 50px;
        margin-right: -1rem;
        margin-left: 1rem;
    }
    .titu{
        margin-left:1rem!important;
    }
    .tarjet{
        margin-right: 0.5rem!important;
    }
    #menuchik{
        display:none!important;
    }
    .menusito{
        display:none!important;
    }
    .img{
        height:200px!important;
        padding-top: 5rem;
    }
    .imge{
        margin-right: -9.5rem;
    }
    .imga{
        margin-left: -9.5rem;
    }
    .formDen{
        width: 250px!important;
    }
    .port{
        height:auto!important;
    }
    .margensito{
        padding-top: 10rem!important;
    }
    .bajando{
        margin-top: 0!important;
    }
}
  </style>
    </style>
</head>
<body>
    
<div id="app">
    <div style="position:fixed; top:0;     z-index: 9999999;     background: #fff; width:100%;">
            <div style="background: radial-gradient(232.61% 48923.25% at 36.08% -343.5%, rgba(244, 61, 61, 0.7) 0%, rgba(255, 153, 0, 0.607701) 47.85%, rgba(255, 0, 0, 0.476081) 63.82%, rgba(255, 0, 0, 0.48) 81.16%, rgba(255, 0, 0, 0.61) 99.99%);
            height: 2rem;
            width: 100%;
            left: 0; top: 0rem;">
                
            </div>
        <div style="
             height: 4rem;
            width: 100%;
            left: 0; top:2rem;  ">
            <div style="    width: 97%; margin-left: auto; margin-right: auto; position:fixed; top:2rem; height: 4rem; background: #f7f7f7; border-radius: 20px; padding: 0 1rem;">
                <div style="display: flex; justify-content: space-between; align-items:center; height: 100%; width:100%;">
                    <div style="display: flex; align-items: center;">
                        <span onclick="menusi()" class="iconify" style="font-size: 40px; margin-right: 1rem;" data-icon="jam:menu" data-inline="false"></span>
                        <h2 style="font-family:galano; font-weight: 700; font-size: 30px;"><span>Ka</span><span style="color:rgba(255, 0, 0, 0.61)">fu</span></h2>
                        <ul class="menusito" style="display: flex; justify-content: space-between;">
                            <li style="list-style: none; font-family: galano; color:#808080; margin-left: 1rem;">Inicio</li>
                            <li style="list-style: none; font-family: galano; color:#808080; margin-left: 1rem;">Soporte</li>
                            <li style="list-style: none; font-family: galano; color:#808080; margin-left: 1rem;">Vende con nosotros</li>
                        </ul>
                    </div>
                    <div style="display: flex; align-items:center;   justify-content: flex-end;">
                        <div style="display: flex;">
                            <div class="mt-2">
                                <vs-input  v-model="buscar" @keyup.enter="busqueda()" />
                            </div>
                            <div style="margin-left: -2rem; margin-top: 0.5rem;">
                                <span class="iconify" style="font-size: 16px;  color:#7e7e7e; position: relative; z-index: 1;" data-icon="oi:magnifying-glass" data-inline="false"></span>
                            </div> 
                        </div>  
                        <p style="margin:0; font-family:helvetica; font-size: 15px; margin-left: 3rem;">Login</p>
                    </div> 
                </div>
            </div>
        </div>
        
    </div>
    <div id="menu" style="width: 300px; height: 100%; position: fixed; background-color: #fff; z-index: 3; top: 0; padding-top: 7rem; display:none">
            <div style="margin-left:2rem;">
                <h1 style="font-size: 25px; font-family: 'Work Sans', sans-serif;  font-weight: 700; margin-bottom:15px">Filtrar</h1>
                <ul>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Nuevos productos</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Televisores</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Telefonos</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Comtadoras</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Smart watch</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Audifonos</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Softwara</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Escritorios</li>
                </ul>
            </div>
           
    </div>
    <div>
    <div class="port" style="max-width: 1300px;
    margin-left: auto;
    margin-right: auto; display: flex; justify-content: space-between; flex-direction:column;background: #f7f7f7 ">
    
        <div class="margensito" style=" background: #f7f7f7;     height: 450px; padding-top: 6rem; margin-left: 2rem; margin-right: 2rem; align-items: center;">
                <p class="menusito"  style="margin:0; font-family:galano; font-size:20px; margin-left: 5rem; margin-bottom: 1rem;">Ofertas</p>
            <div style="display: flex; justify-content: center; width:100%">  
                <div style="width: 80%;">
                        <img class="img imge" src="assetsPlantillas/muebles-multifuncionales-para-el-hogar-1170x740 1.png" style=" height: 60%;" alt="">
                            <div style="display: flex; flex-direction: column;  width:100%;">
                                    <div style="margin-top:-5rem; padding-left: 3rem;">
                                            <p style="font-family: 'Red Hat Display', sans-serif; font-size: 25px; color:#fff">Muebles</p>
                                            <p style="font-family: galano; font-size: 25px; color:#fff">30% OFF</p>
                                    </div>
                                    <div style="display: flex; flex-direction: column; margin-top: -4rem; margin-right: 2rem; align-items: flex-end;">
                                            <span id="fleSie" style=" font-size: 18px; color:#fff;background: #ffffff59;
                                            height: 35px;
                                            width: 30px;
                                            border-radius: 2rem 2rem 0 0;" class="iconify" style="margin-top: 0.5rem;" data-icon="bi:arrow-up" data-inline="false"></span>
                                            <span id="fleOch" style=" font-size: 18px; margin-top:0.5rem; color:#fff;background: #ffffff59;
                                            height: 35px;
                                            width: 30px;
                                            border-radius: 0 0 2rem 2rem ;" class="iconify" data-icon="bi:arrow-down" data-inline="false"></span>
                                        </div>
                            </div>
                            <div style="flex-basis: calc(38% - 1rem); display: flex; justify-content: space-between;height: 150px; margin-top: 2rem;">
                                    <div style="margin: 0 0.5rem; background:#fff; box-shadow: 1px -1px 68px -35px rgba(0,0,0,0.75); flex-basis: calc(30% - 1rem); display:flex; flex-direction: column; justify-content: space-around; align-items: center;padding: 1rem 0rem;">
                                        <img src="assetsPlantillas/Vector (1).png" style="width:35%" alt="">
                                        <p style="margin: 0; font-family: 'Red Hat Display', sans-serif;">Tecnologia</p>
                                    </div>
                                    <div style="margin: 0 0.5rem; background:#fff; box-shadow: 1px -1px 68px -35px rgba(0,0,0,0.75); flex-basis: calc(30% - 1rem); display:flex; flex-direction: column; justify-content: space-around; align-items: center;padding: 1rem 0rem;">
                                        <img src="assetsPlantillas/Vector (2).png" style="width:35%" alt="">
                                        <p style="margin: 0; font-family: 'Red Hat Display', sans-serif;">Tecnologia</p>
                                    </div>
                                    <div style="margin: 0 0.5rem; background:#fff; box-shadow: 1px -1px 68px -35px rgba(0,0,0,0.75); flex-basis: calc(30% - 1rem); display:flex; flex-direction: column; justify-content: space-around; align-items: center;padding: 1rem 0rem;">
                                        <img src="assetsPlantillas/Vector (3).png" style="width:35%" alt="">
                                        <p style="margin: 0; font-family: 'Red Hat Display', sans-serif;">Tecnologia</p>
                                    </div>
                                </div>
                </div>

           <div style="width: 60%;">
                <div class="form" style="flex-basis: calc(25% - 1rem); height: 400px; margin-top: -1rem; background-color: #fff; position:relative; z-index:2;     box-shadow: rgba(0, 0, 0, 0.75) 1px 20px 48px -45px; padding: 1rem;">
                    <h3 style="font-family: galano; width:100%; text-align: center; font-size: 22px;">Inicia sesíon </h3>
                    <p style="font-family: helvetica; margin:0; width:100%; text-align: center; font-size: 14px;">Y sigue disfrutando de nuestras ofertas</p>
                    <div>
                            <div class="formDen" style="margin-top: 3rem; width: 100%;">
                                    <vs-input
                                    type="text"
                                    v-model="nombreArch"
                                    label="Nombre "
                                    style="width: 100%;"
                                    />
                            </div>
                            <div class="formDen"  style="margin-top: 3rem; width: 100%; ">
                                    <vs-input
                                    type="text"
                                    v-model="nombreArch"
                                    label="Edad"
                                    style="width: 100%;"
                                    />
                            </div>
                            <div style="width: 100%; justify-content: center; display:flex;">
                                <button style="background: linear-gradient(96.28deg, #FF5E3A 45.04%, #FFB169 118.14%); box-shadow: 0px 1px 11px rgba(255, 46, 0, 0.25); border-radius: 5px;  color:#fff; border-radius:0; border:none; padding: 0.5rem 3rem; font-family: galano;   font-size: 12px; margin-top: 2.5rem; width: 20px; height:72px; border-radius: 1rem;     width: 150px; height: 45px;">Ingresar</button>
                            </div>
                            <h2 style="font-family:galano; font-weight: 700; font-size: 25px; margin-top: 2.5rem; text-align: center;"><span>Ka</span><span style="color:rgba(255, 0, 0, 0.61)">fu</span></h2>
                    </div>
                </div>
                <div style="margin: 1rem 0px; background:#fff; display: flex; justify-content: center; align-items: center;box-shadow: 1px 6px 26px -19px rgba(0,0,0,0.75); flex-basis: calc(26% - 1rem); height: 60px;">
                        <p style="font-family: 'Red Hat Display', sans-serif; font-size: 13px;">- O - Regístrate con nosotros</p>
                    </div>
           </div>
            
            <div style="width: 80%;">
                    <img class="img imga" src="assetsPlantillas/muebles-multifuncionales-para-el-hogar-1170x740 2.png" style=" height:60%; width:100%" alt="">
                        <div style="display: flex; flex-direction: column;  width:100%;">
                            <div style="margin-top:-5rem; display: flex; flex-direction: column; align-items: flex-end; padding-right: 3rem;">
                                <p style="font-family: 'Red Hat Display', sans-serif; font-size: 25px; color:#fff">Tecnología</p>
                                <p style="font-family: galano; font-size: 25px; color:#fff">30% OFF</p>
                            </div>
                            <div style="display: flex; flex-direction: column; margin-top: -4rem; margin-left: 2rem;">
                                <span id="fleSie" style=" font-size: 18px; color:#fff;background: #ffffff59;
                                height: 35px;
                                width: 30px;
                                border-radius: 2rem 2rem 0 0;" class="iconify" style="margin-top: 0.5rem;" data-icon="bi:arrow-up" data-inline="false"></span>
                                <span id="fleOch" style=" font-size: 18px; margin-top:0.5rem; color:#fff;background: #ffffff59;
                                height: 35px;
                                width: 30px;
                                border-radius: 0 0 2rem 2rem ;" class="iconify" data-icon="bi:arrow-down" data-inline="false"></span>
                            </div>
                        </div>
                        <div style="flex-basis: calc(38% - 1rem); display: flex; justify-content: space-between; height: 150px; margin-top: 2rem;">
                                <div style="margin: 0 0.5rem; background:#fff; box-shadow: 1px -1px 68px -35px rgba(0,0,0,0.75); flex-basis: calc(30% - 1rem); display:flex; flex-direction: column; justify-content: space-around; align-items: center;padding: 1rem 0rem;">
                                    <img src="assetsPlantillas/Vector (4).png" style="width:35%" alt="">
                                    <p style="margin: 0; font-family: 'Red Hat Display', sans-serif;">Tecnologia</p>
                                </div>
                                <div style="margin: 0 0.5rem; background:#fff; box-shadow: 1px -1px 68px -35px rgba(0,0,0,0.75); flex-basis: calc(30% - 1rem); display:flex; flex-direction: column; justify-content: space-around; align-items: center;padding: 1rem 0rem;">
                                    <img src="assetsPlantillas/Vector.png" alt="">
                                    <p style="margin: 0; font-family: 'Red Hat Display', sans-serif;">Tecnologia</p>
                                </div>
                                <div style="margin: 0 0.5rem; background:#fff; box-shadow: 1px -1px 68px -35px rgba(0,0,0,0.75); flex-basis: calc(30% - 1rem); display:flex; flex-direction: column; justify-content: space-around; align-items: center;padding: 1rem 0rem;">
                                    <img src="assetsPlantillas/png.png" style="width:35%" alt="">
                                    <p style="margin: 0; font-family: 'Red Hat Display', sans-serif;">Tecnologia</p>
                                </div>
                            </div>
            </div>
            
            </div>
        </div> 
   
    </div>
        
    </div>


            <div class="bajando" style="width: 100%; margin-bottom: 3rem; margin-top:9rem; max-width: 1300px;
            margin-left: auto;
            margin-right: auto; ">
            <h4 style="font-family: 'Work Sans', sans-serif; margin-bottom: 1rem;">Herramientas para el hogar</h4>
            <div style="display: flex; justify-content: center;">
            <div style="width: 100%; display: flex; flex-wrap:wrap;  ">
                    
                    <div style="height:12rem; flex-basis:calc(16% - 4rem); background: #fff; -webkit-box-shadow: 0px 9px 30px -17px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 9px 30px -17px rgba(0,0,0,0.75);
                    box-shadow: 0px 9px 30px -17px rgba(0,0,0,0.75); margin-bottom: 1rem;
                    width: 100%; display:flex; flex-direction: column;  align-items: center; padding: 1rem 0.5rem;  margin-right: 2.5rem;" v-for="tv in televisores " class="tarjet"> 
                    <div style="width: 100%; display: flex; justify-content: flex-end;     margin-left: 3rem;" @click="getDatos(tv.name, tv.precio, tv.width, tv.height, tv.img)">
                            <span class="iconify" style="    margin-top: -1.5rem;
                            background: #fff;
                            padding: 0.5rem;
                            border-radius: 50px;     box-shadow: rgba(0, 0, 0, 0.75) 0px 9px 30px -10px;"  data-icon="bi:plus" data-inline="false"></span>
                        </div>
                    <div style="height:11rem; margin-bottom: 0.5rem; display: flex; 
                    justify-content: center; width: 150px;">
                            <img :src="tv.img" v-bind:style="{width:tv.width, height:tv.height}" alt="">
                    </div>
                           <div style="margin-top: -1.5rem; display: flex;
                           flex-direction: column;
                           justify-content: flex-start;
                           width: 100%;
                           margin-left: 1rem;">
                               <p style="margin:0; font-size:15px;font-weight: 700; font-size:12px; font-family: 'Work Sans', sans-serif;">{{tv.name}}</p>
                               <p style="margin:0;font-family: helvetica; font-size:17px;">S/.{{tv.precio}}</p>
                           </div> 
                    </div>
                    
                    </div>
                </div>
                </div>
                <div id="carrito" style="display:none;">
                        <div style="position: fixed; z-index: 4; height: 400px;  width: 260px; background: rgba(255, 255, 255, 0.77);
                        box-shadow: 0px 16px 39px rgba(0, 0, 0, 0.09);
                        backdrop-filter: blur(44px); top: 6rem; right: 3rem; border-radius: 1rem; padding: 1rem; padding-right: 0rem; ">
                        <div style="height: 350px;overflow: auto;    padding-right: 1rem;">
                            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;" v-for="ele in datosGuardados">
                                <img :src="ele.img" style="width:15%; flex-basis: calc(20% - 1rem);" alt="">
                                <p style="margin: 0; font-family: 'Montserrat', sans-serif;  font-size: 11px; flex-basis: calc(50% - 1rem);">{{ele.name}}</p>
                                <p style="margin: 0; font-family: 'Montserrat', sans-serif;  font-size: 11px; flex-basis: calc(10% - 1rem);">X1</p>
                            </div>
                        </div>
                            <p style="margin: 0; font-family: galano; padding: 1rem; font-size: 15px; flex-basis: calc(50% - 1rem); text-align: end;">S/.65.2</p>
                        </div>
                      </div>
        </div>

    <script src="/Nueva carpeta (2)/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue-select@3.0.0"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script>
            const aplicacion = new Vue( {
                el: '#app',
                            data: {
                                todos:[
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/uno.png',
                                       width:'70%',
                                       height: '80%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/dos.png',  
                                       width:'80%',
                                       height: '70%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tres.png',
                                       width:'100%',
                                       height: '70%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/cuatro.png' ,
                                       width:'100%',
                                       height: '90%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/cinco.png',
                                       width:'80%',
                                       height: '90%' 
                                    },
                                ],
                                televisores:[
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png',
                                       width:'80%',
                                       height: '60%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png',  
                                       width:'80%',
                                       height: '60%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png',
                                       width:'80%',
                                       height: '60%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png' ,
                                       width:'80%',
                                       height: '60%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png',
                                       width:'80%',
                                       height: '60%' 
                                    },
                                     {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png',  
                                       width:'80%',
                                       height: '60%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png',
                                       width:'80%',
                                       height: '60%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png' ,
                                       width:'80%',
                                       height: '60%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tv.png',
                                       width:'80%',
                                       height: '60%' 
                                    },
                                ],
                                datosLocal:[],
                                datosGuardados:[]

                            },
                            methods: {
                                getDatos(name, precio, width, height, img){
                                    this.datosLocal.push({
                                        name:name,
                                        precio:precio,
                                        width:width,
                                        height:height,
                                        img:img
                                    })
                                    console.log(this.datosLocal)
                                    localStorage.setItem('this.datosLocal', JSON.stringify(this.datosLocal));
                                    this.getInfo()
                                },
                                
                                getInfo(){
                                    var guardado = localStorage.getItem('this.datosLocal');
                                    this.datosGuardados = JSON.parse(guardado) 
                                    console.log('objetoObtenido: ', this.datosGuardados);
                                }
                            },
                            created() {
                                this.getInfo()
                            },
            })
        </script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
                var swiper = new Swiper('.swiper-container', {
                  navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                  },
                });
              </script>
              <script>
                    function menusi(){
        
                        let element = document.getElementById('menu');
                        let elementStyle = window.getComputedStyle(element);
                        let elementColor = elementStyle.getPropertyValue('display');
                       console.log(elementColor)
                       if(elementColor == 'none'){
                        document.getElementById('menu').style.display='block'
                       } else if(elementColor == 'block'){
                        document.getElementById('menu').style.display='none' 
                       }
                    }
                </script>
</body>
</html>