<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/Nueva carpeta (2)/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="normaliza.css">
    <title>Dreez</title>
    <style>
       
        *{
            font-family: helvetica;
        }
        p{
            margin:0;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        h1 {
            margin:0;
        }
        h2 {
            margin:0;
        }
        h3 {
            margin:0;
        }
        h4 {
            margin:0;
        }
        h5 {
            margin:0;
        }
        h6 {
            margin:0;
        }
        input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
/* 2.1 THUMB */

input[type=range]::-webkit-slider-thumb {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
  margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
  background-color: #555;
  width: 10px;
  height: 10px;
  border: 6px solid rgb(0, 0, 0);
  border-radius: 50%;
}

input[type=range]::-ms-thumb {
  background-color: #555;
  width: 15px;
  height: 15px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 50%;
}
/* 2.2 TRACK */

input[type=range]::-webkit-slider-runnable-track {
  background-color: #e7e7e7;
  height: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: none;
}

input[type=range]::-moz-range-track {
  background-color: #555;
  height: 3px;
}

input[type=range]::-ms-track {
  background-color: #555;
  height: 3px;
}

input[type=range]::-ms-fill-lower {
  background-color: HotPink
}

input[type=range]::-ms-fill-upper {
  background-color: black;
}
@media (max-width:768px) and (min-width: 412px){
    #menu{
        display:none
    }
    #contenido{
        margin:0!important;
    }
    .input{
        margin-left: 19rem!important;
    }
   .barrita{
    display:flex;
    color:#7e7e7e
    }
    .cont{
        max-width: 1700px!important;
        margin-left: -1remx!important;
        margin-right: 0rem!important;
    }
    .linea{
        font-size: 50px;
        margin-right: -1rem;
        margin-left: 1rem;
    }
    .titu{
        margin-left:1rem!important;
    }
    .tarjet{
        margin-right: 0.5rem!important;
    }

}
@media (max-width:411px){
    #menu{
        display:none
    }
    #contenido{
        margin:0!important;
    }
    .oferta{
        display:none
    }
   .drezz{
    display:none
   }
   .barrita{
    display:flex;
    color:#7e7e7e
    }

    .input{
        margin-left: 0rem!important;
        width:33.%!important;
    
    }
    .cont{
        max-width: 1700px!important;
        margin-left: -1rem!important;
        margin-right: 0rem!important;

    }
    .linea{
        font-size: 50px;
        margin-right: -1rem;
        margin-left: 1rem;
    }
    .titu{
        margin-left:1rem!important;
    }
    .tarjet{
        margin-right: 0.5rem!important;
    }

}
    </style>
</head>
<body>
    
<div id="app">
    <div style="position:fixed; top:0;     z-index: 9999999;     background: #fff; width:100%;">
            <div style="position:fixed; top:0;     z-index: 9999999;     background: #fff; width:100%;">
                    <div style="-webkit-box-shadow: 0px 19px 31px -23px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 19px 31px -23px rgba(0,0,0,0.75);
                        box-shadow: 0px 19px 31px -23px rgba(0,0,0,0.75);
                         height: 3rem;
                        width: 100%;
                        left: 0; top:0; background: #fff; width: 100%;">
                        <div class="cont" style="max-width: 95%; margin-left: 2rem; margin-right: 3rem; position:fixed; top:0rem;width: 100%; height: 3rem;">
                                <div style="display: flex; justify-content: space-between; align-items:center; height: 100%;">
                                    <div class="barrita" onclick="menusi()">
                                            <span class="iconify linea" data-icon="jam:menu" data-inline="false"></span>
                                    </div>
                                    <div style="width:33.33%; " class="drezz">
                                        <h1 style="font-family:helvetica; font-size: 40px;">Drezz</h1>
                                    </div>
                                    <div class="input" style="display: flex; margin-left:-19rem; align-items:center; width:33.33%">
                                        <div>
                                            <span class="iconify " style="font-size: 16px;  color:#7e7e7e" data-icon="oi:magnifying-glass" data-inline="false"></span>
                                        </div>        
                                        <div class="mt-2">
                                            <vs-input  placeholder="Buscar Proveedores" v-model="buscar" @keyup.enter="busqueda()" />
                                        </div>
                                    </div> 
                                    
                                    <div style="width:33.33%;color:#6b6b6b; text-align:end; display: flex; justify-content: flex-end; align-items: center; cursor: pointer;" onclick="document.getElementById('carrito').style.display='block'">
                                        <span class="iconify" style="font-size: 30px; margin-right: 1rem;" data-icon="clarity:shopping-cart-line" data-inline="false"></span>
                                        <p style="margin:0; font-family:helvetica; font-size: 12px;">54 productos</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                    
                </div>
        <div style="-webkit-box-shadow: 0px 19px 31px -22px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 19px 31px -22px rgba(0,0,0,0.75);
        box-shadow: 0px 19px 31px -22px rgba(0,0,0,0.75);
        height: 3rem;
        width: 100%;
        left: 0; top: 3rem;">
            <ul style="list-style: none; margin:0; padding: 0; display:flex; justify-content:space-between; align-items: center; font-family:helvetica;width: 100%; max-width: 85%; margin-left: auto; margin-right: auto; height:3rem; font-size: 12px;">
                <li>Inicio</li>
                <li>SmartWatch</li>
                <li>Televisores</li>
                <li>Computadoras</li>
                <li>Tablets</li>
                <li>Accesorios</li>
                <li>IoT</li>

                <li>Software</li>
            </ul>
        </div>
    </div>
    <div id="menu" style="width: 300px;height: 100%; position: fixed; background-color: #fff;">
            <div style="margin-left:2rem;">
                <h1 style="font-size: 25px; font-family: 'Work Sans', sans-serif;  font-weight: 700; margin-bottom:15px">Filtrar</h1>
                <ul>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Nuevos productos</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Televisores</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Telefonos</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Comtadoras</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Smart watch</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Audifonos</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Softwara</li>
                    <li style="list-style: none; font-family: helvetica; font-size: 12px; margin-bottom:15px">Escritorios</li>
                </ul>
            </div>
            <div style="margin-left:2rem; margin-bottom: 2rem;">
                    <h2 style="font-size: 18px; font-family: 'Work Sans', sans-serif;  font-weight: 700; margin-bottom:15px">Precio</h2>
                    <div style="display: flex;">
                        <div style="height: 10px; width:10px; background-color: #FFB27A; border-radius: 50px;margin-top:-3px"></div>
                        <input type="range" style="height: 5px;">
                        <div style="height: 10px; width:10px; background-color: #7198FF; border-radius: 50px;margin-top:-3px"></div>
                    </div>
            </div>
            <div style="margin-left:2rem;">
                    <h2 style="font-size: 18px; font-family: 'Work Sans', sans-serif;  font-weight: 700; margin-bottom:15px">Tipo de venta</h2>
                    <div>
                        <div style="display:flex; align-items: center;">
                            <input type="radio">
                            <p style="margin-right: 1rem; font-size:12px; color:#7e7e7e">Venta</p>
                        </div>
                        <div style="display:flex; align-items: center;">
                            <input type="radio">
                            <p style="margin-right: 1rem; font-size:12px; color:#7e7e7e">Pre venta</p>
                        </div>
                    </div>
            </div>
    </div>
    
            <div style="width: 100%; margin-bottom: 3rem; margin-top:9rem;  ">
            <h4 class="titu"  style="font-family: 'Work Sans', sans-serif; margin-bottom: 1rem; margin-left: 23rem;">Nuevos productos</h4>
            <div style="display: flex;">
            <div id="contenido"  style="width: 100%; display: flex; flex-wrap:wrap;    
            max-width: 1700px;
            margin-left: 25rem;
            margin-right: 0;">
                    
                    <div style="height:12rem; flex-basis:calc(20% - 6rem); background: #fff; -webkit-box-shadow: 0px 9px 30px -17px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 9px 30px -17px rgba(0,0,0,0.75);
                    box-shadow: 0px 9px 30px -17px rgba(0,0,0,0.75); margin-bottom: 1rem;
                    width: 100%; display:flex; flex-direction: column;  align-items: center; padding: 1rem 0.5rem;  margin-right: 2.5rem;" class="tarjet" v-for="tv in televisores "> 
                    <div style="width: 100%; display: flex; justify-content: flex-end;     margin-left: 3rem;"  @click="getDatos(tv.name, tv.precio, tv.width, tv.height, tv.img)">
                            <span class="iconify" style="    margin-top: -1.5rem;
                            background: #fff;
                            padding: 0.5rem;
                            border-radius: 50px;     box-shadow: rgba(0, 0, 0, 0.75) 0px 9px 30px -10px;"  data-icon="bi:plus" data-inline="false"></span>
                        </div>
                    <div style="height:11rem; margin-bottom: 0.5rem; display: flex; 
                    justify-content: center; width: 150px;">
                            <img :src="tv.img" v-bind:style="{width:tv.width, height:tv.height}" alt="">
                    </div>
                           <div style="margin-top: -1.5rem; display: flex;
                           flex-direction: column;
                           justify-content: flex-start;
                           width: 100%;
                           margin-left: 1rem;">
                               <p style="margin:0;font-family: helvetica; font-size:12px;">{{tv.name}}</p>
                               <p style="margin:0; font-weight: 700; font-size:12px; font-family: 'Work Sans', sans-serif;">S/.{{tv.precio}}</p>
                           </div> 
                    </div>
                    
                    </div>
                </div>
                </div>
                <div id="carrito" style="display:none;">
                        <div style="position: fixed; z-index: 4; height: 400px;  width: 260px; background: rgba(255, 255, 255, 0.77);
                        box-shadow: 0px 16px 39px rgba(0, 0, 0, 0.09);
                        backdrop-filter: blur(44px); top: 6rem; right: 3rem; border-radius: 1rem; padding: 1rem; padding-right: 0rem; ">
                        <div style="height: 350px;overflow: auto;    padding-right: 1rem;">
                            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;" v-for="ele in datosGuardados">
                                <img :src="ele.img" style="width:15%; flex-basis: calc(20% - 1rem);" alt="">
                                <p style="margin: 0; font-family: 'Montserrat', sans-serif;  font-size: 11px; flex-basis: calc(50% - 1rem);">{{ele.name}}</p>
                                <p style="margin: 0; font-family: 'Montserrat', sans-serif;  font-size: 11px; flex-basis: calc(10% - 1rem);">X1</p>
                            </div>
                        </div>
                            <p style="margin: 0; font-family: galano; padding: 1rem; font-size: 15px; flex-basis: calc(50% - 1rem); text-align: end;">S/.65.2</p>
                        </div>
                      </div>
        </div>

    <script src="/Nueva carpeta (2)/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuesax@4.0.1-alpha.16/dist/vuesax.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://unpkg.com/vue-select@3.0.0"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
        <script>
            const aplicacion = new Vue( {
                el: '#app',
                            data: {
                                todos:[
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/uno.png',
                                       width:'70%',
                                       height: '80%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/dos.png',  
                                       width:'80%',
                                       height: '70%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/tres.png',
                                       width:'100%',
                                       height: '70%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/cuatro.png' ,
                                       width:'100%',
                                       height: '90%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/cinco.png',
                                       width:'80%',
                                       height: '90%' 
                                    },
                                ],
                                televisores:[
                                {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/control.png',
                                       width: '60%',
                                       height: '40%'

                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funkoDos.png',  
                                       width:'80%',
                                       height: '70%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/control.png',
                                       width: '60%',
                                       height: '40%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funkoUno.png' ,
                                       width:'100%',
                                       height: '90%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funo.png',
                                       width:'60%',
                                       height: '70%' 
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/fDos.png' ,
                                       width: '90%',
                                        height: '90%'

                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/cUno.png',
                                       width:'80%',
                                       height: '90%' 
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/fTres.png',
                                       width: '60%',
                                       height: '80% '
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/control.png',
                                       width: '60%',
                                       height: '40%'

                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funkoDos.png',  
                                       width:'80%',
                                       height: '70%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/control.png',
                                       width: '60%',
                                       height: '40%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funkoUno.png' ,
                                       width:'100%',
                                       height: '90%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funo.png',
                                       width:'60%',
                                       height: '70%' 
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/fDos.png' ,
                                       width: '90%',
                                        height: '90%'

                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/cUno.png',
                                       width:'80%',
                                       height: '90%' 
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/fTres.png',
                                       width: '60%',
                                       height: '80% '
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/control.png',
                                       width: '60%',
                                       height: '40%'

                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funkoDos.png',  
                                       width:'80%',
                                       height: '70%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/control.png',
                                       width: '60%',
                                       height: '40%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funkoUno.png' ,
                                       width:'100%',
                                       height: '90%'
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/funo.png',
                                       width:'60%',
                                       height: '70%' 
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/fDos.png' ,
                                       width: '90%',
                                        height: '90%'

                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/cUno.png',
                                       width:'80%',
                                       height: '90%' 
                                    },
                                    {
                                       name:'Dell X4S- 16GBS',
                                       precio:'156,39',
                                       img:'assetsPlantillas/fTres.png',
                                       width: '60%',
                                       height: '80% '
                                    },
                                ],
                                datosLocal:[],
                                datosGuardados:[]

                            },
                            methods: {
                                getDatos(name, precio, width, height, img){
                                    this.datosLocal.push({
                                        name:name,
                                        precio:precio,
                                        width:width,
                                        height:height,
                                        img:img
                                    })
                                    console.log(this.datosLocal)
                                    localStorage.setItem('this.datosLocal', JSON.stringify(this.datosLocal));
                                    this.getInfo()
                                },
                                
                                getInfo(){
                                    var guardado = localStorage.getItem('this.datosLocal');
                                    this.datosGuardados = JSON.parse(guardado) 
                                    console.log('objetoObtenido: ', this.datosGuardados);
                                }
                            },
                            created() {
                                this.getInfo()
                            },
            })
        </script>
         <script>
                function menusi(){
    
                    let element = document.getElementById('menu');
                    let elementStyle = window.getComputedStyle(element);
                    let elementColor = elementStyle.getPropertyValue('display');
                   console.log(elementColor)
                   if(elementColor == 'none'){
                    document.getElementById('menu').style.display='block'
                   } else if(elementColor == 'block'){
                    document.getElementById('menu').style.display='none' 
                   }
                }
            </script>
</body>
</html>